:root {
    --gray-light-1: #444857;
    --dark-gray-1: #717790;
    --dark-gray-2: #444857;
    --dark-gray-3: #2C303A;
}

* {
    font-family: 'Inconsolata', monospace;
    box-sizing: border-box;
    margin: 0;
}

/* ----------------------------------- menu ----------------------------------- */

nav {
    margin: 0;
    padding: 0;
    background-color: var(--dark-gray-3);    
}

ul {
    height: 50px;
    list-style: none;
    text-align: center;
    overflow: hidden;    
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin: 0 20px 0 20px;
}

a {
    text-decoration: none;
    color: white;
    padding: 20px;
    transition: background-color .5s;
}

a:hover{
    background-color: var(--dark-gray-1);
}

/* ----------------------------------- home ----------------------------------- */

#home {
    height: 500px;
    width: 100%;
    background-color: var(--dark-gray-2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#home_text {
    margin-left: 300px;
    flex-wrap: wrap;
}

#home_text p {
    margin: 15px 0 15px 0;
    font-size: 25px;
}

#home_text h1 {
    font-size: 40px;;
}

#home_text button {
    border: 3px solid #EE5C0C;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.0); /* transparent background */
    height: 40px;
    width: 200px;
    margin-top: 40px;
    font-size: 25px;
    color: white;
    text-align: center;    
}

#home img {
    height: 500px;
    margin-right: 100px;
}

